@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
    --primary-color:#6320FF
    --secondary-color:#725AC1
    --accent-color:#78CAD2
    --text-primary:#353535
    --text-secondary:#6B7280
    --background-color:#FFFBFE
    --box-shadow:0 8px 40px rgba(0,0,0,.08);
    --font-main: "Geist", sans-serif;
}

body{
    font-family: var(--font-main)
}

body {
    background-image: url("White\ Minimalist\ Wallpaper\ Top.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
